<header>
    <nav class="conatiner">
        <div class="name">

            <h2>Prashanth Polapelly</h2>
        </div>


        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Project</li>
        </ul>

    </nav>

    <section class="center">

        <div class="container">

            <div class="img">

                <img class="me" src="../../assets/me.jpg" alt=" Prashanth Polapelly" >
            </div>


            <div class="text">

                <div class="text1">
                    <h3>Hi i am </h3>
                </div>
                <div class="text2">

                    <h2>  Prashanth Polapelly </h2>
                </div>
                <div class="text3">

                    <h3>Full stack .Net Developer</h3>
                </div>
                <div class="button">
        
                   
                    <button (click)="openPdf()">Resume</button>
                    
                    <button>connect me</button>
                </div>
                <div class="connect">
                    <a href=" https://www.linkedin.com/in/prashanth-p-095630286?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BECTRvv5jS3%2BeMtBLXw4LAA%3D%3D"> 
                   <img src="../../assets/icons8-linkedin-48.png" alt="github" class="conections">
                </a>
                <a href="https://github.com/Prashanth550">
                    <img src="../../assets/icons8-github-48.png" alt="">
            </a>  
                </div>
            </div>
        </div>

    </section>
</header>